body {
    padding-top: 100px;
    background: #fff;
    text-align: center;
    font-family: "Roboto";
}

.send {
    display: inline-block;
    margin-bottom: 50px;
    padding: 20px 50px;
    border: 3px solid #eee;
    border-radius: 4px;
    font-size: 32px;
    color: #666;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    --webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.send:hover {
    border-color: #b2ebf2;
    color: #00bcd4;
    padding: 20px 70px;
    --webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 6px 12px;
    font-size: 20px;
    color: #666;
    border: 3px solid #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    --webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.links a:hover {
    border-color: #b2ebf2;
    color: #00bcd4;
    --webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}