body {
    max-width: 640px;
    margin: 0 auto;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    min-height: 100vh;
    padding: 16px;
}

::selection {
    color: #fff;
    background-color: blue;
}

a {
    color: blue;
    transition: all 0.15s ease-in-out;
}

a:hover {
    color: #fff;
    background: blue;
}

hr {
    display: block;
    border: none;
    height: 1px;
    width: 100%;
    background: #ddd;
}
h1 {
    font-size: 24px;
}

h3 {
    font-weight: normal;
}

ul {
    padding: 0;
    list-style-position: inside;
    font-size: 14px;
    overflow: hidden;
}

.photo {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    margin-right: 32px;
    margin-top: 64px;
    border: 1px solid #ddd;
    transition: all 0.5s;
}

.photo:hover {
    transform: rotate(360deg);
}

li {
    float: left;
    width: 33%;
}
h2 {
    font-size: 20px;
    font-weight: normal;
}

canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: -1;
}

.technologies {
    font-size: 12px;
    line-height: 18px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.projects img {
    max-width: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
}

.projects a img:hover {
    opacity: 0.3;
}

.projects p {
    font-size: 12px;
    line-height: 18px;
}
